.container {
  padding: 0 75px;
}

.article__header {
  padding-top: 80px;
  padding-bottom: 20px;
}

.article__header-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  color: var(--color-black);
}

.article__main {
  padding-top: 20px;
  padding-bottom: 80px;
}

.article__main-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: var(--color-black);
}

.article__main-text__paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: var(--color-black);
  padding-top: 20px;
}

.article__footer {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__footer-back {
  display: flex;
  align-items: center;
  gap: 10px;
}

.article__footer-back__symbol {

}

.article__footer-back__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: var(--color-black);
}

.article__footer-signature__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: var(--color-black);
}
