.container-article {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}

.header-article {
  padding-top: 80px;
  padding-bottom: 20px;
}

.header-article__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  color: var(--color-black);
}

.main-article {
  padding-top: 20px;
  padding-bottom: 80px;
}

.main-article__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: var(--color-black);
}

.main-article__text-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: var(--color-black);
  padding-top: 20px;
}

.footer-article {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-article__back {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-article__back-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: var(--color-black);
}

.footer-article__signature-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: var(--color-black);
}
