.container-blog {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}

.blogs {
  max-width: 1433px;
  margin: 0 auto;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding-bottom: 96px;
}

.blogs__item {
  max-width: 645px;
  display: flex;
  gap: 30px;
}

.blogs__item-image__picture {
  border-radius: 20px;
  width: 195px;
  height: 195px;
}

.blogs__item-text {
  font-weight: 700;
  font-size: 38px;
  line-height: 130%;
  color: var(--color-black);
  padding-top: 13px;
}

.footer-blogs {
  padding-top: 96px;
  padding-bottom: 147px;
}

.footer-blogs__pages-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-blogs__pages-item-numbers {
  display: flex;
  gap: 6px;
}

.footer-blogs__pages-item-left:hover #footer-blogs__pages-item-left__path {
  fill: var(--color-blue);
}

.footer-blogs__pages-item-right:hover #footer-blogs__pages-item-right__path {
  fill: var(--color-blue);
}

.footer-blogs__pages-item-numbers__text {
  width: 36px;
  height: 36px;
  border: 2px solid var(--color-black);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: var(--color-black);
  align-content: center;
  text-align: center;
}

.footer-blogs__pages-item-numbers__text:hover {
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
}
