.header {
  padding-top: 27px;
}

.header__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
  align-items: end;
}

.header__logo {
  grid-column: 1 / 3;
  width: 190px;
  height: 41px;
}

.header__button {
  grid-column: 3 / 4;
}

.header__btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 151px;
  height: 54px;
  background: var(--color-blue);
  border-radius: 10px;
}

.header__btn-img {
  padding-left: 33px;
}

.header__btn-text {
  font-weight: 400;
  font-size: 22px;
  color: var(--color-white);
  margin-right: 30px;
}

.header__form {
  grid-column: 5 / 10;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  height: 54px;
}

.header__form-input {
  width: 100%;
  height: 54px;
  padding-left: 40px;
  border-radius: 30px;
  background: var(--color-white-1);
  border: none;
  color: var(--color-gray);
}

.header__form-input::placeholder {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-gray);
}

.header__form-btn {
  position: absolute;
  right: 0;
  width: 101px;
  height: 54px;
  background: #3670C7;
  border-radius: 30px;
  border: none;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  
}

.header__menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__menu {
  grid-column: 10 / 13;
}


.header__menu-text {
  color: var(--color-black);
  padding-top: 3px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
    padding: 0 30px;
  }

  .header__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
  }

  .header__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .header__button {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

  }

  .header__form {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
  }
 
  .header__menu {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    gap: 40px;
  }
   
  }

  @media (max-width: 800px) {
    .container {
      max-width: 760px;
    }
  
    .header__grid {
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 29px;
    }
  
    .header__logo {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      width: 165px;
      height: 35px;
    }
  
    .header__button {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: 115px;
      height: 42px;
    }
  
    .header__form {
      grid-column: 3 / 10;
      grid-row: 2 / 3;
    }
   
    .header__menu {
      grid-column: 6 / 10;
      width: 221px;
      height: 44px;
      gap: 30px;
    }

    .header__menu-item {
      width: 52px;
      height: 44px;
    }
     
    .header__menu-text {
      font-weight: 700;
      font-size: 12px;
      line-height: 130%;
    }
    }

  @media (max-width: 620px) {
    .container {
      max-width: 320px;
      padding: 0 20px;
    }
  
    .header__grid {
      grid-template-columns: minmax(100px, 130px);
      grid-template-rows: repeat(3, 1fr);
      gap: 20px;
    }
  
    .header__logo {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 114px;
      height: 25px;
    }
  
    .header__button {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      
    }

    .header__btn {
      width: 79px;
      height: 30px;
    }

    .header__btn-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
    }
    .header__form {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      height: 30px;
    }
   
    .header__menu {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      width: 130px;
      height: 30px;
      gap: 20px;
    }

    .header__menu-item {
      width: 52px;
      height: 44px;
    }
     
    .header__menu-text {
      display: none;
    }
    }

