.header {
  padding-top: 27px;
  padding-left: 37px;
}

.header__grid {
  display: grid;
  grid-template-columns: 
  auto
  minmax(80px, 151px)
  minmax(400px, 757px)
  minmax(200px, 354px)
  ;
  justify-content: space-between;
  align-items: end;
  gap: 20px;
}

.header__logo {
  width: 190px;
  height: 41px;
  
  padding-top: 5px;
}

.header__btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 151px;
  height: 54px;
  background: var(--color-blue);
  border-radius: 10px;
  
}

.header__btn-img {
  padding-left: 33px;
}

.header__btn-text {
  font-weight: 400;
  font-size: 22px;
  color: var(--color-white);
  margin-right: 30px;
}

.header__form {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  height: 54px;
}

.header__form-input {
  width: 100%;
  height: 54px;
  padding-left: 40px;
  border-radius: 30px;
  background: var(--color-white-1);
  border: none;
  color: var(--color-gray);
}

.header__form-input::placeholder {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-gray);
}

.header__form-btn {
  position: absolute;
  right: 0;
  width: 101px;
  height: 54px;
  background: #3670C7;
  border-radius: 30px;
  border: none;
}

.header__menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}

.header__menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__menu-img {
  
}

.header__menu-text {
  color: var(--color-black);
  padding-top: 3px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
   
    padding: 0 30px;
  }

  .header__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 34px;
  }

  .header__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .header__button {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

  }

  .header__form {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
  }

  .header__menu {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
   
  }
}



.header__menu-list {
  max-width: 294px;
  gap: 40px;
  
}


