.promo {
  padding-top: 50px;
}

.promo__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 210px) repeat(4, 245px);
  gap: 60px;
}

.promo__grid-img {
  display: block;
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.grid__item {
  border-radius: 20px;
}

.grid__item:nth-child(1) {
  grid-column: 1 / 7;
  grid-row: 1 / 3;
  
  
}

.grid__item:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  
}

.grid__item:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  
}

.grid__item:nth-child(4) {
  position: relative;
  grid-column: 3 / 5;
  grid-row: 3 / 5;
 
}

.grid__item:nth-child(5) {
  grid-column: 5 / 7;
  grid-row: 3 / 4;
 
}

.grid__item:nth-child(6) {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
 
}

.grid__item:nth-child(7) {
  grid-column: 5 / 7;
  grid-row: 4 / 5;
 
}

.grid__item:nth-child(8) {
  grid-column: 1 / 5;
  grid-row: 5 / 7;
  
}

.grid__item:nth-child(9) {
  grid-column: 5 / 6;
  grid-row: 5 / 7;
 
}

.grid__item:nth-child(10) {
  grid-column: 6 / 7;
  grid-row: 5 / 6;
  
}

.grid__item:nth-child(11) {
  grid-column: 6 / 7;
  grid-row: 6 / 7;
 
}
.grid__item {
  position: relative;
}


.promo__grid-img {
  position: relative;
  z-index: 0;
}

.promo__text-1 {
  position: absolute;
  z-index: 1;
  top: 30.2%;
  left: 6.3%;
  font-weight: 700;
  font-size: 70px;
  line-height: 130%;

}

.timer-title {
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  z-index: 1;
  bottom: 25.6%;
  left: 46.5%;
}

.timer {
  width: 473px;
  height: 78px;
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 8.3%;
  left: 36.6%;
  gap: 30px;
}

.timer-item {
  width: 100%;
  display: flex;
  align-items: end;
  gap: 6px;
}

.big-text {
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  
}

.small-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
}

.text__item-2 {
  position: absolute;
  z-index: 1;
  left: 8.16%;
  bottom: 8.16%;
  font-weight: 400;
  font-size: 40px;
}

.text__item-2-bold {
  font-weight: 700;
}

.text__item-3 {
  position: absolute;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  z-index: 1;
  top: 31.83%;
  left: 5.71%;
}

.svg__item-3 {
  position: absolute;
  z-index: 1;
  bottom: 8.16%;
  right: 8.16%;
}

.item__block-4 {
  position: absolute;
  z-index: 1;
  min-height: 178px;
  background-color: var(--color-lightblue);
  border-radius: 20px;
  bottom: 4%;
  left: 3.63%;
  right: 3.63%;
  
}

.text__item-4 {
  font-weight: 400;
  font-size: 40px;
  white-space: pre-line;
  text-align: left;
  padding-left: 26px;
  padding-bottom: 26px;
}

.text__item-4-bold {
  font-weight: 700;
  font-size: 56px;
}

.text__item-5 {
  position: absolute;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  z-index: 1;
  left: 5.45%;
  bottom: 12.24%;
}

.svg__item-6 {
  position: absolute;
  z-index: 1;
  top: 8.16%;
  left: 3.63%;
}

.text__item-7 {
  position: absolute;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  z-index: 1;
  left: 5.45%;
  bottom: 12.24%;
}

.svg__item-7 {
  position: absolute;
  z-index: 1;
  right: 3.63%;
  bottom: 8.16%;
}

.item__block-8 {
  position: absolute;
  min-height: 115px;
  background-color: var(--color-white);
  border-radius: 20px;
  z-index: 1;
  left: 4.31%;
  bottom: 9.09%;
}

.text__item-8 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-red);
  padding: 32px 41px 32px 42px;
}

.svg__item-9 {
  position: absolute;
  z-index: 1;
  right: 8.16%;
  bottom: 3.64%;
}

.svg__item-10 {
  position: absolute;
  z-index: 1;
  top: 8.16%;
  left: 8.16%;
}

.text__item-10 {
  position: absolute;
  z-index: 1;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  left: 8.16%;
  bottom: 8.16%;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }

  .promo__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 145px) repeat(6, 217px);
    gap: 24px;
  }

  .grid__item {
    border-radius: 16px;
  }

.grid__item:nth-child(1) {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  
  
}

.grid__item:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  
}

.grid__item:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  
}

.grid__item:nth-child(4) {
  grid-column: 3 / 5;
  grid-row: 3 / 5;
 
}

.grid__item:nth-child(5) {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
 
}

.grid__item:nth-child(6) {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
 
}

.grid__item:nth-child(7) {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
 
}

.grid__item:nth-child(8) {
  grid-column: 1 / 5;
  grid-row: 7 / 9;
  
}

.grid__item:nth-child(9) {
  grid-column: 3 / 4;
  grid-row: 5 / 7;
 
}

.grid__item:nth-child(10) {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
  
}

.grid__item:nth-child(11) {
  grid-column: 4 / 5;
  grid-row: 6 / 7;
}

.promo__text-1 {
  top: 80px;
  left: 79.66px;
  width: 401px;
  font-size: 40px;
}

.timer-title {
  font-size: 16px;
  bottom: 31.2%;
  left: 43.51%;
}

.timer {
  width: 314px;
  height: 83px;
  bottom: 11.46%;
  left: 33.4%;
  gap: 30px;
}

.timer-item {
  width: 100%;
  display: flex;
  align-items: end;
  gap: 5px;
}

.big-text {
  font-size: 40px;
}

.small-text {
  font-size: 20px;
}

.text__item-2 {
  max-width: 190px;
  font-size: 24px;
  left: 4.147%;
  bottom: 9.216%;
}

.text__item-2-bold {
  font-weight: 700;
  font-size: 30px;
}

.text__item-3 {
  max-width: 177px;
  font-size: 24px;
  top: 26.728%;
  left: 4.147%;
}

.svg__item-3 {
  bottom: 4.608%;
  right: 4.608%;
}

.item__block-4 {
  bottom: 4.80%;
  left: 4.80%;
  right: 4.80%;
}

.text__item-4 {
  font-size: 30px;
  padding-left: 25px;
  padding-bottom: 29px;
}

.text__item-4-bold {
  font-size: 40px;
}

.text__item-5 {
  max-width: 290px;
  font-size: 30px;
  left: 4.366%;
  bottom: 9.216%;
}

.svg__item-6 {
  top: 4.608%;
  left: 2.18%;
}

.text__item-7 {
  font-size: 30px;
  left: 4.366%;
  bottom: 9.216%;
}

.svg__item-7 {
  right: 2.18%;
  bottom: 4.608%;
}

.item__block-8 {
  min-height: 83px;
  left: 3.19%;
  bottom: 9.33%;
}

.text__item-8 {
  font-size: 30px;
}

.svg__item-9 {
  right: 4.608%;
  bottom: 2.18%;
}

.svg__item-10 {
  top: 4.608%;
  left: 4.608%;
}

.text__item-10 {
  font-size: 20px;
  left: 6.45%;
  bottom: 6.45%;
}
}



@media (max-width: 800px) {
  .container {
    max-width: 760px;
  }

  .promo__grid {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, 130px) repeat(17, 20px) repeat(1, 158.5px);
    gap: 20px;
  }

  .grid__item {
    border-radius: 12px;
  }

.grid__item:nth-child(1) {
  grid-column: 1 / 10;
  grid-row: 1 / 3;
  border-radius: 16px;
}

.grid__item:nth-child(2) {
  grid-column: 1 / 3;
  grid-row: 4 / 8;
  
}

.grid__item:nth-child(3) {
  grid-column: 3 / 5;
  grid-row: 4 / 8;
  
}

.grid__item:nth-child(4) {
  grid-column: 5 / 10;
  grid-row: 4 / 14;
 
}

.grid__item:nth-child(5) {
  grid-column: 1 / 5;
  grid-row: 12 / 16;
 
}

.grid__item:nth-child(6) {
  grid-column: 1 / 5;
  grid-row: 8 / 12;
}

.grid__item:nth-child(7) {
  grid-column: 1 / 5;
  grid-row: 16 / 20;
 
}

.grid__item:nth-child(8) {
  grid-column: 1 / 10;
  grid-row: 20 / 22;
  
}

.grid__item:nth-child(9) {
  grid-column: 5 / 8;
  grid-row: 14 / 20;
 
}

.grid__item:nth-child(10) {
  grid-column: 8 / 10;
  grid-row: 14 / 18;
  
}

.grid__item:nth-child(11) {
  grid-column: 8 / 10;
  grid-row: 18 / 20;
}

.promo__text-1 {
  top: 64px;
  left: 80px;
  font-size: 30px;
}

.timer-title {
  font-size: 12px;
  bottom: 28.21%;
  left: 43.28%;
}

.timer {
  width: 229px;
  height: 39px;
  bottom: 10.7%;
  left: 33.57%;
  gap: 30px;
}

.timer-item {
  gap: 3px;
}

.big-text {
  font-size: 30px;
}

.small-text {
  font-size: 16px;
}

.text__item-2 {
  max-width: 126px;
  font-size: 20px;
  left: 7.14%;
  bottom: 10.7%;
}

.text__item-2-bold {
  font-size: 26px;
}

.text__item-3 {
  
  font-size: 16px;
  top: 10.7%;
  left: 3.57%;
}

.svg__item-3 {
  width: 50px;
  height: 50px;
  bottom: 7.14%;
  right: 7.14%;
}

.item__block-4 {
  min-height: 61px;
  bottom: 2.63%;
  left: 2.63%;
  right: 2.63%;
  border-radius: 12px;
}

.text__item-4 {
  font-size: 16px;
  white-space: normal;
}

.text__item-4-bold {
  font-size: 26px;
}

.text__item-5 {
  max-width: 140px;
  font-size: 16px;
  left: 6.666%;
  bottom: 14.285%;
}

.svg__item-6 {
  width: 50px;
  height: 50px;
  top: 7.14%;
  left: 3.333%;
}

.text__item-7 {
  font-size: 16px;
  left: 6.666%;
  bottom: 14.285%;
}

.svg__item-7 {
  width: 50px;
  height: 50px;
  right: 3.333%;
  bottom: 7.14%;
}

.item__block-8 {
  min-height: 68px;
  left: 3.71%;
  bottom: 7.71%;
  border-radius: 12px;
}

.text__item-8 {
  font-size: 20px;
}

.svg__item-9 {
  width: 50px;
  height: 50px;
  right: 4.545%;
  bottom: 4.545%;
}

.svg__item-10 {
  width: 50px;
  height: 50px;
  top: 7.14%;
  left: 7.14%;
}

.text__item-10 {
  font-size: 16px;
  left: 10%;
  bottom: 10%;
}
}

@media (max-width: 480px) {
  .container {
    max-width: 320px;
    padding: 0 20px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 160px) repeat(9, 130px);
    gap: 20px;
  }


.grid__item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  
}

.grid__item:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  
}

.grid__item:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  
}

.grid__item:nth-child(4) {
  grid-column: 1 / 3;
  grid-row: 5 / 7;
 
}

.grid__item:nth-child(5) {
  grid-column: 1 / 3;
  grid-row: 7 / 8;
 
}

.grid__item:nth-child(6) {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.grid__item:nth-child(7) {
  grid-column: 1 / 3;
  grid-row: 8 / 9;
 
}

.grid__item:nth-child(8) {
  grid-column: 1 / 3;
  grid-row: 11 / 12;
  
}

.grid__item:nth-child(9) {
  grid-column: 1 / 2;
  grid-row: 9 / 11;
 
}

.grid__item:nth-child(10) {
  grid-column: 2 / 3;
  grid-row: 9 / 10;
  
}

.grid__item:nth-child(11) {
  grid-column: 2 / 3;
  grid-row: 10 / 11;
}
}